body, html {
    overflow-x: hidden;
}

nav {
	background-color: #00264C;
}

nav a {
	color: #CCCC00;
}

* {
  font-family: "Montserrat", system-ui;
}

#landing{
	background-color: #CCCC00;
	min-height: 100vh;
}


.bg-color1{
	background-color: #CCCC00;	
}

footer {
	background-color: #00264C;
}


.contact1 {
	height: 50px;
	width: 50px;
}

iframe {
	border:0;
}